* {
    font-family: 'Myriad', Arial sans-serif;
}
.content {
    position: absolute;
    display: block;
    width: 1280px;
    top: 61px;
    bottom: 30px;
    margin: 0 100px;
}
.logo {
    margin-bottom: 45px;
    width: 292px;
    height: 74px;
}
.logo a {
    color: black;
    text-decoration: none;
    font-size: 80px;
    font-weight: 400;
}
.logo span {
    font-size: 80px;
    color: #4bcaff;
}
.menu-navigation,
.footer-navigation {
    display: inline-block;
    width: 100%;
    height: 69px;
}
.menu-navigation ul,
.side-menu ul,
.footer-navigation ul {
    list-style: none;
    margin: 0 44px;
    line-height: 69px;
}
.menu-navigation ul li,
.footer-navigation ul li {
    display: inline-block;
    padding: 0 20px;
    text-align: center;
}
/*///menu-navigation///*/
.menu-navigation {
    background-color: #35444f;
}
.menu-navigation ul li {
    margin-left: 83px;
}
.menu-navigation a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.menu-navigation ul li:hover {
    background-color: #222f3a;
}
/*///side-menu///*/
.side-menu {
    display: inline-block;
    width: 344px;
    height: 399px;
    border: 1px solid #32424e;
}
.side-menu ul {
    margin: 0
}
.side-menu ul li {
    padding-left: 44px;
}
.side-menu a {
    text-decoration: none;
    font-size: 26.99px;
    font-weight: 400;
    color: #495863;
}
.side-menu ul li:hover {
    padding-left: 69px;
    background-color: #dcdcdc;
}
/*///inner-content///*/
.inner-content {
    display: inline-flex;
    margin-top: 51px;
}
.center-picture {
    display: inline-block;
    margin-left: 48px;
    width: 885px;
    height: 529px;
    border: 1px solid #32424e;
}
.center-picture img {
    display: block;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 381px;
}
.first,
.second {
    color: #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    width: 820px;
    margin-left: 420px;
}
.first {
    margin-top: 50px;
    margin-bottom: 30px;
}
.second {
    margin-bottom: 51px;
}
/*///footer///*/
footer {
    width: 100%;
}
.footer-navigation {
    background-color: #b5b8bb;
}
.footer-navigation a {
    text-decoration: none;
    color: #0c1927;
    font-size: 28px;
    font-weight: 400;
}
.footer-navigation ul a:hover {
    color:  #3181a6;
    font-size: 28px;
    font-weight: 400;
    text-decoration: underline;
}
.footer-navigation span {
    font-size: 24px;
}